{% extends "base.html" %}

{% block page_content %}
    <div class="page-header">
        <h1>Joshua Westgard's Project Homepage</h1>
    </div>
        <p>This website is my personal workspace and home of some 
        public research projects. For information about me, see 
        <a href="http://terpconnect.umd.edu/~westgard">my 
        professional homepage at UMD</a>.</p>
        
        <h2>Research Projects</h2>
        <ul>
            <li><a href="http://www.bedemanuscripts.net">Census 
                of Bede Manuscripts</a></li>
            <li><a href="http://www.github.com/jwestgard">
                Coding projects on Github</a></li>
        </ul>
{% endblock %}

